<nav class = "brown">
    <div class = "nav-wrapper">
        <!-- <%= link_to image_tag('breadexpress_title.png'), home_path %> -->
        <ul class = "right">
            <!-- link to home -->
            <li><%= link_to "Home", home_path %></li>
            <% if !logged_in? %>
                <li><%= link_to "Login", login_path %></li>           
            <% end %>
            <% if logged_in? %>
                <!-- ADMIN ONLY OPTIONS -->
                <% if current_user.role? :admin %>
                    <!-- Make each of these a dropdown in the future -->
                    <li><%= link_to "Orders", orders_path %></li>
                    <li><%= link_to "Addresses", addresses_path %></li>
                    <li><%= link_to "Users", users_path %></li>
                    <li><%= link_to "Items", items_path %></li>



                <% elsif current_user.role? :customer %>
                    <li><%= link_to "View Menu", items_path %></li>
                    <li><%= link_to "Cart", nil %></li>
                    <li><%= link_to current_user.username, customer_path(Customer.find_by_user_id(current_user.id))%></li>
                <% end %>

                <!-- should always be able to see this -->
                <li><%= link_to "Logout", logout_path %></li>
            <% end %>
        </ul>

    </div>
</nav>