<% if @unshipped_ois.any? %>
    <h3>Unshipped Order Pieces</h3>
    <table class = "hoverable">
        <thead>
            <th>Item</th>
            <th>Destination</th>
            <th>Quantity</th>
            <th>Date Ordered</th>
            <th></th>
        </thead>
        <tbody>
            <% @unshipped_ois.each do |oi| %>
                <tr>
                    <td><%= oi.item.name %></td>
                    <td><%= render :partial => "partials/address_info", locals: {address: oi.order.address} %></td>
                    <td><%= oi.quantity %></td>
                    <td><%= oi.order.date.strftime('%m/%d/%y') %></td>
                    <td><%= button_to "Mark as Shipped", toggle_path(oi) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @unshipped_ois, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% else %>
    <h4>No unshipped Order Items</h4>
<% end %>