<%= simple_form_for @address, html: { class: 'form-horizontal' } do |f| %>
  <!-- In case of errors, display them-->
  <% if @address.errors.any? %>
    <ul class = "collection with-header">
      <li class = "collection-header">
        <h4><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h4>
      </li>
      <% @address.errors.full_messages.each do |msg| %>
        <li class = "collection-item"><i class = "mdi-communication-dnd-on"></i> <%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %>ing Address</legend>

    <div class = "row">
      <div class = "input-field col s6">
        <%= f.input :recipient %>
      </div>
      <% if current_user.role?(:admin) %>
        <div class = "input-field col s6">
          <%= f.input :customer_id, collection: Customer.active.alphabetical, include_blank: true, input_html: {class: "avg"} %>
        </div>
      <% else %>
        <div class = "input-field col s6">
          <%= f.input :customer_id, as: :hidden, input_html: { value: current_user.customer.id } %>
        </div>
      <% end %>
    </div>
    <div class = "row">
    <div class = "input-field col s6">
      <%= f.label :street_1 %>
      <%= f.text_field :street_1 %>
    </div>
    <div class = "input-field col s6">
      <%= f.label :street_2 %>
      <%= f.text_field :street_2 %>
    </div>
  </div>
  <div class = "row">
    <div class = "input-field col s6">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class = "input-field col s3">
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>
    <div class = "col s3">
      <%=  f.label :state %>
      <%= f.select :state, Address::STATES_LIST  %>
    </div>
  </div>
  <div class = "row">
    <div class = "input-field">
      <%= f.check_box :is_billing %>
      <%= f.label :is_billing, "Billing Address?" %>
    </div>
  </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to "Cancel", get_user_profile, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>