<% if !current_user.nil? and !current_user.role? :customer %>
  <% if @inactive_items.empty? %>
    <p><em>There are no inactive items at this time.</em></p>
  <% else %>
    <h4>Inactive Items</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @inactive_items.each do |item| %>
          <tr>
            <td><%= link_to item.name, item_path(item) %></td>
            <td>$<%= item.category %></td>
            <td><%= number_to_currency(item.current_price) %></td>
            <td><%= pluralize(item.units_per_item, item.category) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= will_paginate @inactive_items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
  <% end %>
  <p>&nbsp;</p>
<% end %>