<div class = "row">
        <div class = "input-field col s4">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class = "col s4">
          <%= f.label :category %>
          <%= f.select :category, Item::CATEGORIES %>
        </div>
</div>

<div class = "row">
    <div class = "file-field input-field col s6">
        <input class="file-path validate" type="text"/>
        <br />
        <div class="btn">
            <span>File</span>
            <%= f.file_field :picture %>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "input-field col s4">
        <%= f.label :units_per_item %><br />
        <%= f.text_field :units_per_item %>
    </div>
    <div class = "input-field col s4">
        <%= f.label :weight %><br />
        <%= f.text_field :weight %>
    </div>
</div>
<div class = "row">
    <div class = "input-field col s4">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
    </div>
</div>