<div class = "row">
        <div class = "input-field col s4">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
        </div>
        <div class = "col s4">
          <%= f.label :category %>
          <%= f.select :category, Item::CATEGORIES %>
        </div>
</div>

<div class = "row">
    <div class = "input-field col s6">
        <p>Picture</p>
        <%= f.file_field :photo %>
    </div>
</div>

<div class = "row">
    <div class = "input-field col s4">
        <%= f.label :units_per_item %><br />
        <%= f.text_field :units_per_item %>
    </div>
    <div class = "input-field col s4">
        <%= f.label :weight %><br />
        <%= f.text_field :weight %>
    </div>
</div>
<div class = "row">
    <div class = "input-field col s4">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
    </div>
</div>