<div class = "row">
    <div class = "item_info col s6">
        <% if @item.picture.nil? %>
        <%= image_tag "img_not_available.png" %>
        <% else %>
            <p><%= image_tag @item.picture %></p>
        <% end %>
        <p>
            <%= @item.description %>
        </p>
        <p>
            Total weight: <%= pluralize(@item.weight, "lbs") %>.
        </p>
        <p>
            <% if current_user.role? :customer %>
                <%= button_to "Add To Cart", add_to_cart_path %>
            <% end %>
        </p>
    </div>
    <div class = "col s5 offset-s1 right-align">
        <h2><%= @item.name %></h2>
        <% if current_user.role? :admin %>
            <%= simple_form_for @item_price, url: create_with_item_path(@item), method: :patch do |f| %>
                <div class = "input-field">
                  <i class = "mdi-editor-attach-money prefix"></i>
                      <%= f.label "Update Price" %>
                      <%= f.text_field :price %>
                </div>
            <% end %>

            <table>
                <h4>Price History</h4>
                <thead>
                    <th>Price</th>
                    <th>Date Ended</th>
                </thead>
                <% @item.item_prices.chronological.each do |ip| %>
                    <tr>
                        <td><%= number_to_currency(ip.price) %></td>
                        <td><%= !ip.end_date.nil? ? ip.end_date.strftime("%m/%d/%Y") : "Current" %></td>
                    </tr>
                <% end %>
            </table>
        <% elsif current_user.role? :customer %>
            <h3><%= number_to_currency(@item.current_price) %></h3>

            <br /><br />

            <ul><h5><u>Similar Items</u></h5>
                <% Item.for_category(@item.category).each do |i| %>
                    <li><%= link_to i.name, item_path(i) %></li>
                <% end %>
            </ul>
        <% end %>

    </div>
</div>